* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background: #fab22e;
}

.wrapper {
   width: 80vmin;
   padding: 50px 40px;
   background: #15161a;
   position: absolute;
   transform: translate(-50%, -50%);
   top: 50%;
   left: 50%;
   border-radius: 5px;
   box-shadow: 20px 20px 40px rgba(97,63,0,0.4);
}

span {
   display: block;
   text-align: center;
   font-size: 100px;
}

p {
   color: #fff;
   font-size: 20px;
   border: none;
   line-height: 35px;
   text-align: center;
   word-wrap: break-word;
   font-weight: 400;

}

button {
   display: block;
   margin: 0 auto;
   margin-top: 20px;
   font-size: 18px;
   background-color: #fab22e;
   color: #15161a;
   padding: 12px 25px;
   border: none;
   cursor: pointer;
}